body{
    font-family: Arial, sans-serif;
    background-color: #714fd6;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
#loginForm{
    width: 300px;
    height: 300px;
    margin: 150px auto;
    padding: 30px;
    color: #0a0a0a;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #c9bcdc, #c5adc9);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
#btn{
    background-color: #6057b7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
    font-weight: bold;
    box-shadow: 0px 1px 30px 0px rgba(0, 0, 0, 0.2);
    
}
#btn:hover{
    background-color: #333;

}